<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Wicked 3D Print</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/login.css">
	<link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="/images/icon.png">
</head>

<body>
	<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body fixed-top" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<img src="/images/wicked.png" alt="Logo" width="80" height="24" class="d-inline-block align-text-top">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="nav nav-tabs navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="/">HOME</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="/modelos?patreon=Wicked">WICKED</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/modelos?patreon=B3dserk">B3DSERK</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/modelos?patreon=Star_Wars">STAR WARS</a>
					</li> -->
					<ul class="navbar-nav">
						<% categorias.forEach(categoria=> { %>
							<li class="nav-item">
								<a class="nav-link" href="/modelos?patreon=<%= categoria.categoria %>">
									<%= categoria.categoria %>
								</a>
							</li>
							<% }) %>
					</ul>
					<li class="nav-item">
						<a class="nav-link" href="/aboutus">ABOUT US</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/auth/login">LOGIN</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<section>
		<h1>INICIAR SESIÓN</h1>
		<hr>
		<form action="/auth/login" method="post">
			<section>
				<label for="username">USUARIO</label>
				<input id="username" name="username" type="text" autocomplete="username" required autofocus>
			</section>
			<section>
				<label for="current-password">CONTRASEÑA</label>
				<input id="current-password" name="password" type="password" autocomplete="current-password" required>
			</section>
			<button type="submit">INGRESAR</button>
		</form>
	</section>
	<footer class="footer">
		<p>© 2024 All rights reserved</p>
	</footer>
</body>

</html>