body.b3dserk {
    background: url('/images/backgroundbd.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.starwars {
    background: url('/images/backgroundsw.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.wicked {
    background: url('/images/backgroundwc.jpg') no-repeat center center fixed;
    background-size: cover;
}

.modelo-card {
    border: 1px solid #e0e0e0;
    /* Borde claro */
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 10px;
    padding-bottom: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modelo-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.modelo-card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.carrito-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.carrito-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;

}

.card-text {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 10px;
    line-height: 1.6;
}

.card-img-top {
    height: 340px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-text i {
    margin-right: 5px;
    color: #e91b1b;
    /* Color de iconos */
}

#userDropdown::before {
    content: "\1F47B";
    margin-right: 8px;
    font-size: 1.2em;
}